.greetings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.h1 {
    font-size: 48px;
    font-weight: 500;
}

.name {
    color: #FF0101;
}

.congrats {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 10px 0;
}