.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 117px;
    padding: 0 0 59px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #020203;
    color: #FFFFFF;
    height: 100%;
}

.activities {
    display: flex;
    flex-direction: column;
}